<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>土味订票</title>

	<meta charset="utf-8"/>
	<meta name="format-detection" content="telephone=no" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="page_name" content="index"/>

	<link rel="icon" th:href="@{images/favicon.ico}"/>
	<link rel="shortcut icon" th:href="@{images/favicon.ico}" />
	<link rel="stylesheet" th:href="@{booking/css/booking.css}"/>
	<link rel="stylesheet" th:href="@{css/camera.css}"/>
	<link rel="stylesheet" th:href="@{css/log_in.css}"/>
	<link rel="stylesheet" th:href="@{css/owl.carousel.css}"/>
	<link rel="stylesheet" th:href="@{css/style.css}"/>
	<!--<link rel="stylesheet" th:href="@{node_modules/sweetalert/dist/sweetalert.min.css}"/>-->
	<link rel="stylesheet" th:href="@{css/default.css}" />
	<link rel="stylesheet" th:href="@{css/component.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>

    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/jquery-migrate-1.2.1.js}"></script>
    <script th:src="@{js/script.js}"></script>
    <script th:src="@{js/superfish.js}"></script>
    <script th:src="@{js/jquery.ui.totop.js}"></script>
    <script th:src="@{js/jquery.equalheights.js}"></script>
    <script th:src="@{js/jquery.mobilemenu.js}"></script>
    <script th:src="@{js/jquery.easing.1.3.js}"></script>
    <script th:src="@{js/owl.carousel.js}"></script>
    <script th:src="@{js/camera.js}"></script>
    <script th:src="@{node_modules/sweetalert/dist/sweetalert.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script th:src="@{js/jquery.mobile.customized.min.js}"></script>
    <!--<![endif]-->
    <script th:src="@{booking/js/booking.js}"></script>
    <script th:src="@{js/modernizr.custom.js}"></script>
</head>
<body class="page1" id="top">
<!--==============================header=================================-->
<header th:replace="header :: header"></header>
<!--==============================header=================================-->
<div class="slider_wrapper">
	<div id="camera_wrap" class="">
		<div data-src="images/slide.jpg">
			<div class="caption fadeIn">
				<h2>LONDON</h2>
				<div class="price">
					FROM
					<span>$1000</span>
				</div>
				<a href="#">LEARN MORE</a>
			</div>
		</div>
		<div data-src="images/slide1.jpg">
			<div class="caption fadeIn">
				<h2>Maldives</h2>
				<div class="price">
					FROM
					<span>$2000</span>
				</div>
				<a href="#">LEARN MORE</a>
			</div>
		</div>
		<div data-src="images/slide2.jpg">
			<div class="caption fadeIn">
				<h2>Venice</h2>
				<div class="price">
					FROM
					<span>$1600</span>
				</div>
				<a href="#">LEARN MORE</a>
			</div>
		</div>
	</div>
</div>
<!--==============================Content=================================-->
<div class="content">
	<div class="container_12">
		<div class="grid_4">
			<div class="banner">
				<img th:src="@{images/ban_img1.jpg}" alt=""/>
				<div class="label">
					<div class="title">Barcelona</div>
					<div class="price">FROM<span>$ 1000</span></div>
					<a href="#">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="grid_4">
			<div class="banner">
				<img th:src="@{images/ban_img2.jpg}" alt=""/>
				<div class="label">
					<div class="title">GOA</div>
					<div class="price">FROM<span>$ 1.500</span></div>
					<a href="#">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="grid_4">
			<div class="banner">
				<img th:src="@{images/ban_img3.jpg}" alt=""/>
				<div class="label">
					<div class="title">PARIS</div>
					<div class="price">FROM<span>$ 1.600</span></div>
					<a href="#">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="grid_6">
			<h3>Booking Form</h3>
			<form id="bookingForm">
				<div class="fl1">
					<div class="tmInput">
						<input name="Country" placeHolder="Depature:" type="text" data-constraints="@NotEmpty @Required"/>
					</div>
				</div>
				<div class="fl1">
					<div class="tmInput mr0">
						<input name="Hotel" placeHolder="Destination:" type="text" data-constraints="@NotEmpty @Required"/>
					</div>
				</div>
				<div class="clear"></div>
				<strong>Data</strong>
				<label class="tmDatepicker">
					<input type="text" name="Check-in" placeHolder='' data-constraints="@NotEmpty @Required @Date"/>
				</label>
				<div class="clear"></div>
				<div class="tmRadio">
					<p>Cabin</p>
					<input name="Comfort" type="radio" id="tmRadio0" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' checked="checked"/>
					<span>First Class</span>
					<input name="Comfort" type="radio" id="tmRadio1" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
					<span>Economy Class</span>
				</div>
				<a href="#" class="btn" data-type="submit" style="width:84px;">Search</a>
			</form>
		</div>
		<div class="grid_5 prefix_1">
			<h3>Welcome</h3>
			<img th:src="@{images/page1_img1.jpg}" alt="" class="img_inner fleft"/>
		</div>
	</div>
</div>
<!--==============================footer=================================-->
<footer style="background-color: #E74C3C">
	<div class="container_12" >
		<div class="grid_12">
			<div class="socials">
			</div>
			<div class="copy">
                Copyright © 2018 OldSchool Flight | 土味订票
			</div>
		</div>
	</div>
</footer>

<script>
    $(document).ready(function(){
        jQuery('#camera_wrap').camera({
            loader: false,
            pagination: false ,
            minHeight: '444',
            thumbnails: false,
            height: '48.375%',
            caption: true,
            navigation: true,
            fx: 'mosaic'
        });
        /*carousel*/
        var owl=$("#owl");
        owl.owlCarousel({
            items : 2, //10 items above 1000px browser width
            itemsDesktop : [995,2], //5 items between 1000px and 901px
            itemsDesktopSmall : [767, 2], // betweem 900px and 601px
            itemsTablet: [700, 2], //2 items between 600 and 0
            itemsMobile : [479, 1], // itemsMobile disabled - inherit from itemsTablet option
            navigation : true,
            pagination : false
        });
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<script>
    $(function (){
        $('#bookingForm').bookingForm({
            ownerEmail: '#'
        });
    });
    $(function() {
        $('#bookingForm input, #bookingForm textarea').placeholder();
    });
</script>

</body>
</html>

